{% extends 'base2.html' %}

{% block stylesheet %}

{% endblock %}




{% block content %}


<div class="row mt-4">

    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-header pb-0 p-3 mb-3">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                    <h6 class="mb-0">Alumni</h6>
                    </div>
                    <div class="col-6 text-end">
    
                    </div>
                </div>
            </div>
            <div class="table-responsive p-2">
              <table class="table align-items-center mb-0" id="alumni_table">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Contact</th>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Course</th>
                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Employment Status</th>
                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Proof of Alumnus</th>
                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Date registered</th>
                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for alm in alumni %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{{ alm.avatar.url }}" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <a href=""><p class="mb-0 text-md text-capitalize">{{ alm.user.last_name }}, {{ alm.user.first_name}} ( {{ alm.student_number }})</p></a>
                        </div>
                      </div>
                    </td>

                    <td>
                        <p class="text-sm font-weight-bold mb-0 text-capitalize">{{ alm.phone_number }}</p>
                        <p class="text-sm text-secondary mb-0">{{ alm.user.email }}</p>
                      </td>

                    <td>
                      <p class="text-sm font-weight-bold mb-0 text-capitalize">{{ alm.course }}</p>
                      <p class="text-sm text-secondary mb-0">Batch: {{ alm.batch }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <p class="text-sm font-weight-bold mb-0 text-capitalize">{{ alm.employment }}</p>
                    </td>

                    <td class="text-center">
                      <a href="{{ alm.proof.url }}" target="_blank"><p class="text-sm font-weight-bold mb-0 text-capitalize">view</p></a>
                    </td>

                    <td class="align-middle text-center">
                      <span class="text-secondary text-sm font-weight-bold">{{ alm.date_created|date }}</span>
                    </td>
                    <td class="align-middle text-center">
                      {% if alm.user.is_active %}
                      <span class="badge badge-pill badge-md bg-gradient-success">Active</span>
                      {% else %}
                      <span class="badge badge-pill badge-md bg-gradient-warning">Not Active</span>

                      {% endif %}
                      

                    </td>
                    <td class="align-middle">

                      {% if alm.user.is_active %}

                      {% else %}

                      <a href="#" class="mx-2 process-button approve-request" data-request-id="{{ alm.id }}"
                      data-bs-toggle="tooltip" data-bs-title="Approve request">
                      <i class="fas fa-check-circle text-secondary" aria-hidden="true"></i>
                      </a>

                      <a href="#" class="mx-2 process-button approve-link" data-request-id="{{ ip.id }}"
                      data-bs-toggle="tooltip" data-bs-title="Decline request">
                      <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                      </a>

                      {% endif %}

                   

               
                    </td>

                  </tr>
                  {% endfor %}
          
                </tbody>
              </table>
            </div>
        </div>
    </div>



  </div>

{% endblock %}


{% block javascripts %}

<script>
    let table = new DataTable('#alumni_table')
</script>


<script>
  $(document).ready(function() {
    
    $('.approve-request').on('click', function(event) {
      event.preventDefault(); 
      var requestId = $(this).data('request-id');
      
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to approve this request. This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, approve',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
        
          Swal.fire({
            title: 'Loading',
            html: '<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div><p>Please wait while we process your request...</p>',
           
            allowOutsideClick: false,
            showConfirmButton: false, 
            onBeforeOpen: () => {
              Swal.showLoading();
            }
          });

        
          $.ajax({
            url: `/approve-user/${requestId}/`,
        
            success: function(data) {
            
              Swal.close();

            
              Swal.fire({
                title: 'Approved!',
                text: 'The request has been successfully approved.',
                icon: 'success',
                confirmButtonText: 'OK'
              }).then(() => {
                
                window.location.href = '/alumni/';
              });
            },
            error: function(xhr, textStatus, errorThrown) {
             
              Swal.close();

             
              Swal.fire({
                title: 'Error',
                text: 'An error occurred while processing your request. Please try again later.',
                icon: 'error',
                confirmButtonText: 'OK'
              });
            }
          });
        }
      });
    });
  });
</script>


{% endblock %}