{% extends 'base2.html' %}

{% block stylesheet %}

{% endblock %}



{% block content %}


<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Transcript of Records</p>
                <h5 class="font-weight-bolder">
                  {{ tor.count }}
                </h5>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Diploma</p>
                <h5 class="font-weight-bolder">
                  {{ diploma.count }}
                </h5>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Alumni</p>
                <h5 class="font-weight-bolder">
                  {{ alumni.count }}
                </h5>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Jobs</p>
                <h5 class="font-weight-bolder">
                  {{ jobs.count }}
                </h5>

              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

  <div class="row mt-4">

    <div class="col-lg-9 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-header pb-0 p-3 mb-3">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                    <h6 class="mb-0">Alumni</h6>
                    </div>
                    <div class="col-6 text-end">
    
                    </div>
                </div>
            </div>
            <div class="table-responsive p-2">
              <table class="table align-items-center mb-0" id="alumni_table_dashboard">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Course</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employment Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proof of Alumnus</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date registered</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for alm in alumni %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{{ alm.avatar.url }}" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs text-capitalize">{{ alm.user.last_name }}, {{ alm.user.first_name}} ( {{ alm.student_number }})</h6>
                          <p class="text-xs text-secondary mb-0">{{ alm.user.email }}</p>
                        </div>
                      </div>
                    </td>

                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-capitalize">{{ alm.course }}</p>
                      <p class="text-xs text-secondary mb-0">Batch: {{ alm.batch }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <p class="text-xs font-weight-bold mb-0 text-capitalize">{{ alm.employment }}</p>
                    </td>

                    <td class="text-center">
                      <a href="{{ alm.proof.url }}" target="_blank"><p class="text-xs font-weight-bold mb-0 text-capitalize">view</p></a>
                    </td>

                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ alm.date_created|date }}</span>
                    </td>

                    <td class="align-middle text-center">
                      {% if alm.user.is_active %}
                      <span class="badge badge-pill badge-md bg-gradient-success">Active</span>
                      {% else %}
                      <span class="badge badge-pill badge-md bg-gradient-warning">Not Active</span>

                      {% endif %}
                      

                    </td>
                    <td class="align-middle">

                      {% if alm.user.is_active %}

                      {% else %}
                      <a href="#" class="mx-2 process-button approve-request" data-request-id="{{ alm.id }}"
                      data-bs-toggle="tooltip" data-bs-title="Approve request">
                      <i class="fas fa-check-circle text-secondary" aria-hidden="true"></i>
                      </a>

                      <a href="#" class="mx-2 process-button approve-link" data-request-id="{{ alm.id }}"
                      data-bs-toggle="tooltip" data-bs-title="Decline request">
                      <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                      </a>

                      {% endif %}

                   

               
                    </td>

                  </tr>
                  {% endfor %}
          
                </tbody>
              </table>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header pb-0 p-3">
          <h5 class="mb-0">Requests</h5>
        </div>
        <div class="card-body p-3">
          <ul class="list-group">

            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-tag text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-md">Transcript of Records</h6>
                  <span class="text-md">{{ tor_pending.count }} <span class="font-weight-bold">Pending</span></span>
                </div>
              </div>
              <div class="d-flex">
                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
              </div>
            </li>

            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-tag text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-md">Diploma</h6>
                  <span class="text-md">{{ diploma_pending.count}} <span class="font-weight-bold">Pending</span></span>
                </div>
              </div>
              <div class="d-flex">
                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
              </div>
            </li>

            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                  <i class="ni ni-tag text-white opacity-10"></i>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-md">Jobs</h6>
                  <span class="text-md">{{ job_pending.count }} <span class="font-weight-bold">Pending</span></span>
                </div>
              </div>
              <div class="d-flex">
                <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>

{% endblock %}


{% block javascripts %}

<script>
  let table = new DataTable('#alumni_table_dashboard')

</script>


<script>
  $(document).ready(function() {
    
    $('.approve-request').on('click', function(event) {
      event.preventDefault(); 
      var requestId = $(this).data('request-id');
      
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to approve this request. This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, approve',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
        
          Swal.fire({
            title: 'Loading',
            html: '<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div><p>Please wait while we process your request...</p>',
           
            allowOutsideClick: false,
            showConfirmButton: false, 
            onBeforeOpen: () => {
              Swal.showLoading();
            }
          });

        
          $.ajax({
            url: `/approve-user/${requestId}/`,
        
            success: function(data) {
            
              Swal.close();

            
              Swal.fire({
                title: 'Approved!',
                text: 'The request has been successfully approved.',
                icon: 'success',
                confirmButtonText: 'OK'
              }).then(() => {
                
                window.location.href = '/dashboard/';
              });
            },
            error: function(xhr, textStatus, errorThrown) {
             
              Swal.close();

             
              Swal.fire({
                title: 'Error',
                text: 'An error occurred while processing your request. Please try again later.',
                icon: 'error',
                confirmButtonText: 'OK'
              });
            }
          });
        }
      });
    });
  });
</script>


{% endblock %}